<div (click)="onBackClick()" class="back-icon">
    <app-back-icon></app-back-icon>
  </div>
  <span class="overlay"></span>
  <div class="container">
    <div class="side1">
      <h1 class="skill-header">ABOUT</h1>
      <app-pic-logo height="13rem" width="13rem" class="dp-logo"></app-pic-logo>
      <div class="text-container">
        <p>
          I started my programming journey in 2016 and very quickly adapted myself to .NET & ASP.NET with C# for Web and Desktop App development. I am currently working on ASP.NET MVC and Angular.
        </p>
        <br>
        <p>
          Apart from coding, I love playing Cricket, Badminton and read some of the interesting stuffs that are available both offline and online.
        </p>
      </div>
    </div>
    <div class="side2">
      <div class="skill-container">
        <h1 class="skill-header">
          Skills
        </h1>
        <div *ngFor="let skill of skills">
          <h4 class="skill-type">{{skill.type}}</h4>
          <h4 class="skill-names">{{skill.names.join(', ')}}</h4>
        </div>
      </div>
    </div>
  </div>
  