//$bg-color: #5FBEE4;
$bg-color: #030b1c;
//$color1: #EE1E63;
//$color1: #0baed3;
$color1 : #2c3e50;
$color2: #2c3e50;
//$color3: #EE1E63;
$color3 : #2c3e50;
$green: #5FBEE4;
$text-color: #ffffff;
$black: #555;
$off-white: #f8f8f8;
$white: #fff;

