<div class="container">
    <div class="card">
      <div class="strip-block">
        <div class="profile-logo">
          <img src="assets/image/profile-pic-masood.jpg" alt="">
        </div>
        <div class="strip"></div>
        <div class="short-details">
          <h4 class="tagLine">
            Full Stack Developer
          </h4>
          <blockquote class="quote">
            "Learn to explore, Explore to learn"
          </blockquote>
        </div>
      </div>
  
      <div class="details">
        <div class="nameBlock">
          <h1 class="round-shape name">
            Masood Mohammad
          </h1>
          <div class="divider">
            <div class="stick stick1"></div>
            <div class="stick stick2"></div>
          </div>
        </div>
        <p class="bio">
          I love coding, new technologies & exploring. I'm mostly interested in Full Stack Web Development.
          <br> I love to work with ASP.NET Core, Node.js, Angular & React.
        </p>
        <div (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
          <a class="round-shape projects-link" (click)="onExploreMeClick()">
            <span>
              Explore Me
            </span>
          </a>
        </div>
      </div>
      <div class="divider">
        <div class="stick stick1"></div>
        <div class="stick stick2"></div>
      </div>
  
      <div class="social">
        <div class="social-icon">
          <a href="https://www.twitter.com/masoodbinmohmd" target="_blank">
            <img src="assets/contact-icon/twitter.svg" alt="twitter icon">
          </a>
        </div>
        <div class="social-icon">
          <a href="https://www.github.com/masoodbinmohammad" target="_blank">
            <img src="assets/contact-icon/github.svg" alt="github icon">
          </a>
        </div>
        <div class="social-icon">
          <a href="https://app.pluralsight.com/profile/masoodbinmohammad" target="_blank">
            <img src="assets/contact-icon/pluralsight-icon.jpg" alt="pluralsight icon">
          </a>
        </div>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/masood-mohammad-369576116" target="_blank">
            <img src="assets/contact-icon/linkedin.png" alt="linkedin icon">
          </a>
        </div>
        <div class="social-icon">
          <a href="mailto:masoodbinmohammad@hotmail.com">
            <img src="assets/contact-icon/email.svg" alt="email icon">
          </a>
        </div>
      </div>
  
    </div>
  </div>
  